body{
    background-color: #f0f0f0;
    font-weight: 520;
}

img{
    float: left;
    width: 19%;
    margin: 0;
    border: outset black 2px;
    border-radius: 20px;
}
img:hover{
    border: inset grey 2px;

}